body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #FFEB3B;
    text-align: center;
    padding: 15px;

}

.navbar p {
    margin: 0;
    font-style: italic;
    color: black;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD180;
}

.todo-box {
    background-color: #F2F3F2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h2 {
    color: black;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    width: 60%;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: 2px solid black;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;

}

button:hover {
    background-color: #45a049;
}

.dropdown {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #FFF9C4;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
}